body {
	font-family: Arial, Helvetica, sans-serif;
	color:#484747;
	
}
.error_text{
	color:rgb(147, 33, 16);
}

#content{
	margin-left:15px;
}

.tags{
	width:400px;
}

.row {
	display: flex;
  }
  
  .column {
	flex: 50%;
	padding:10px;
  }

  .header{

}

.headrow {
	display: flex;
  }
  
  .headcolumn {
	flex: 50%;
	padding:10px;
  }

  /* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

fieldset.group  { 
  margin: 0; 
  padding: 0; 
  margin-bottom: 1.25em; 
  padding: .125em; 
} 

fieldset.group legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 20px; 
  font-size: 100%; 
  color: black; 
} 


ul.checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
} 

ul.checkbox li input { 
  margin-right: .25em; 
} 

ul.checkbox li {
border: 1px transparent solid;
float: left;
min-width: 200px;
}

ul.checkbox li label { 
  margin-left: ; 
} 
ul.checkbox li:hover, 
ul.checkbox li.focus  { 
  background-color: lightyellow; 
  border: 1px gray solid; 
  width: 12em; 
} 
.tag_selector{
  width:700px;
}

table.sortable tbody tr:nth-child(2n) td {
  background: #eeeeee;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #dddddd;
}
table.sortable thead{
  background: #b8b8b8;
}
#err_text{
  color: rgb(199, 0, 0);

}